.footer {
    background-color: #060653;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: white;

    h1 {
        margin-bottom: 30px;
    }
}