@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #cfcdcd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.nav-bar h1 {
    font-size: 30px;
    font-weight: 900;
    color: #060653;
    text-transform: uppercase;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li:not(:last-child) {
    margin-right: 50px;
}

.nav-bar a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}


.intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 5%, rgba(6, 6, 83, 0.7)), url('../assets/laptop-image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.intro h1 {
    font-size: 70px;
    width: 50%;
    color: white;
    margin-bottom: 10px;
}
.intro h3 {
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}